<div class="home">
  <button routerLink="/home">Back Home</button>

</div>
<app-shoes></app-shoes>
<button routerLink="/home">Home</button>
<mat-card class="example">

    <div class="topnav">
        <!-- <button routerLink="/home">Home</button> -->
        <!-- <button routerLink="/menshoe">Mens Shoes</button> -->
          <a routerLink="/menshoe">Mens' Shoes</a>
          <a routerLink="/ladiesshoes">Ladies Shoes</a>
          <a routerLink="/kidsshoe">Kids Shoes</a>
      </div>
      <mat-card class="cardA">
      <h1>Legit moves!!</h1>
<mat-card class="imageA">
        <div class="image2">
            <img mat-card-sm-image src="../../assets/image/shoes3-removebg-preview.png" >
          </div>

          <div class="one">
          <h2>Type:Sneakers</h2>
          <h3>Ksh:2500</h3>
          <p>Avail Colors: blue,white and black </p>
        </div>
 </mat-card>



<mat-card class="cardB">
           <div class="image1">
            <img mat-card-sm-image src="../../assets/image/shoes2-removebg-preview.png" >
          </div>

          <div class="two">
            <h2>Type:Balenciaga</h2>
            <h3>Ksh:3500</h3>
            <p>Avail Colors: grey and white </p>

          </div>
         
</mat-card>

<mat-card class="cardC">
    <div class="image3">
     <img mat-card-sm-image src="../../assets/image/shoes4-removebg-preview.png" >
   </div>

   <div class="three">
     <h2>Type:Jordan4</h2>
     <h3>Ksh:4000</h3>
     <p>Avail Colors: grey,yellow and red </p>
   </div>
  
</mat-card>

<mat-card class="cardD">
    <div class="image4">
     <img mat-card-sm-image src="../../assets/image/back-shoe-removebg-preview.png" >
   </div>

   <div class="four">
     <h2>Type:High-top</h2>
     <h3>Ksh:3800</h3>
     <p>Avail Colors: grey,blue and black </p>
   </div>
  
</mat-card>
<button class="btn">
 <h1>Find more -></h1>
</button>
   
          


      </mat-card>

</mat-card>