
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Nalenyi's Shoes Shop</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="" alt="">

        <div class="topnav">
          <!-- <a class="active" href="#home">Home</a> -->
          <a routerLink="/home">Home</a>
          <a routerLink="/menshoe">Mens Shoes</a>
          <a routerLink="/ladiesshoes">Ladies Shoes</a>
          <a routerLink="/kidsshoe">Kids Shoes</a>
 
        </div>


      <div class="card-overlay" style="background-image: url('../assets/image/back-shoe-removebg-preview.png')">
      </div>
 
      <mat-card class="card1">
        <!-- <div class="img1"> -->
          <img mat-card-sm-image src="../../assets/image/back-shoe-removebg-preview.png" >
        <!-- </div> -->
      </mat-card>

      <mat-card class="card2">
        <div class="img2">
          <img mat-card-sm-image src="../../assets/image/shoes4-removebg-preview.png" >
        </div>
      </mat-card>

      <mat-card class="card3">
        <div class="img3">
          <img mat-card-sm-image src="../../assets/image/shoes3-removebg-preview.png" >
        </div>
      </mat-card>

      <mat-card class="card4">
        <div class="img4">
          <img mat-card-sm-image src="../../assets/image/shoes2-removebg-preview.png" >
        </div>
      </mat-card>
      
    <!-- <mat-card class="card1">

    </mat-card> -->
        <mat-card-actions>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
        <h1>Your look is determined by the shoes you wear!!</h1>
      </mat-card>
     
      


  